
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/


# Test & coverage outputs
htmlcov/
.coverage
.cache/
.pytest_cache/

infra/terraform.tfvars
src/terraform.tfstate

infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.30.0/windows_amd64/terraform-provider-azurerm_v4.30.0_x5.exe

.env
